<!--映画詳細-->

<div class="show-main">

<div class="show-content">

<div class="show-item">
<p style="margin: 10px;"><img src="https://image.tmdb.org/t/p/w200/<%= @movie_data['poster_path'] %>" width~"300px;"></p>

<section class="movie-text">
<p class="movie_data"> <h5> <%= @movie_data['title'] %></h5></p>
<p class="movie_data"><%= @movie_data['release_date'] %>公開</p>
<p class="movie_data"> <%= @movie_data['overview'] %></p>

<div class="box-favorite">
<%= link_to 'お気に入りに追加する', favorite_path(@movie), method: :post %>
</div>

</section>
</div>
</div>

<div class="comment-box">

<div class="comment-title">コメント一覧</div>
<%@comments.each do |comment| %>
<div class="comment-view">
ID:<%=comment.user_id%>
<%=comment.user.user_name%><br>
<%=comment.content%>
</div>
<%end%>


<%= form_with model: @comment ,url: comments_path, method: :post do |f| %>
<%= f.hidden_field :movie_id, :value => @movie.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>


<div class="comment-form">
<%= f.text_area :content %>
<%= f.submit 'コメントする'%>
<%end%>
</div>
</div>


</div>



