<!DOCTYPE html>

<html>
  <head>
    <title>Moviereview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="chfont">
      
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand p-3" href="/"><span>Movie Review</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <div class="search-form">
                  <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword %>
                    <%= f.submit "検索" %>
                  <% end %>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path,method: :delete, class: "nav-link text-light" do %>
                  <i class="fas fa-link"></i>ログアウト会員
                <% end %>
              </li>
              <% elsif admin_signed_in? %>
              <li class="nav-item" id="nav-item-data">
                <%= link_to destroy_admin_session_path,method: :delete, class: "nav-link text-light" do %>
                  <i class="fas fa-link"></i>ログアウト
                <% end %>
              </li>
              <% else %>
              <div class="search-form">
                <%= form_with url: search_path, method: :get, local: true do |f| %>
                  <%= f.text_field :keyword, value: @keyword %>
                  <%= f.submit "検索" %>
                <% end %>
              </div>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                  <i class="fas fa-link"></i>新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                  <i class="fas fa-link"></i>ログイン
                <% end %>
              </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="main">
        <div class="sidebar">
          <%= render'layouts/sidebar' %>
        </div>
        <div class="content">
          <%= yield %>
       </div>
      </div>
      
      
     <span id="back">
      <a href="">
        <%= image_tag 'up.png', data: {"turbolinks"=>false}, class: "arrow" %>
      </a>
     </span>
    </div>
     <script src="application.js"></script>
  </body>
</html>
