<!DOCTYPE html>

    <html>
      <head>
        <title>Moviereview</title>
        <!--#width=device-widthにてブラウザの大きさをデバイスに合わせる。initial-scaleは画面の拡大率-->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        
        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://kit.fontawesome.com/02a1419f50.js" crossorigin="anonymous"></script>
        <!--アイコンアニメーション用-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
        <!--ふわっとアニメーション用-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      </head>
      
      
        <body>
          <div class="up-side">
          <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container">
                <a class="navbar-brand p-3" href="/"><span>MOVIE REVIEW</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                    
                    
                    
                    
                  <% if user_signed_in? %>
                      <li class="nav-item">
                            <div class="search-form">
                              <%= form_with url: search_path, method: :get, local: true do |f| %>
                                <%= f.text_field :keyword, value: @keyword %>
                                
                                <button class="s-button" type="submit">
                                  <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                
                              <% end %>
                            </div>
                      </li>
                      
                      
                        <li class="nav-item">
                         <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'header-link', data: { confirm: 'ログアウトしますか？' } %>
                        </li>
                      
                      
                    <% elsif admin_signed_in? %>
                      
                      <li class="nav-item">
                        <%= link_to destroy_admin_session_path,method: :delete, class: "nav-link text-light" do %>
                          logout(管理人）
                        <% end %>
                      </li>
                      
                      
                      <% else %>
                      <div class="search-form">
                        <%= form_with url: search_path, method: :get, local: true do |f| %>
                          <%= f.text_field :keyword, value: @keyword %>
                          
                            <button class="s-button" type="submit">
                             <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            
                        <% end %>
                      </div>
                      
                      <div>
                        <li class="nav-item">
                          <%= link_to 'Login', new_user_session_path %>
                        </li>
                      </div>
                      
                    <% end %>
                    
                  </ul>
                </div>
              </div>
            </nav>
          </header>
          
          <% if user_signed_in? %>
          <!-- navigation -->
        <nav>
          <ul class="nav-list bg-dark">
            <li class="nav-list-item">
              <a href="/"><i class="fa-solid fa-house faa-pulse animated-hover" style="color: #ffffff;"></i> TOP</a>
              
            </li>
            <li class="nav-list-item">
              <a href="/about"><i class="fa-solid fa-book faa-pulse animated-hover" style="color: #ffffff;"></i> About</a>
            </li>
            <li class="nav-list-item">
              <a href="/list"><i class="fa-solid fa-film faa-pulse animated-hover" style="color: #ffffff;"></i> Movie</a>
              </li>
            <li class="nav-list-item">
              <a href="/favorite"><i class="fa-solid fa-heart faa-pulse animated-hover" style="color: #ffffff;"></i> My Movie</a>
              </li>  
       </ul>
        </nav>
        
        <% elsif admin_signed_in? %>
            
            <nav>
                <ul class="nav-list bg-dark">
                    <li class="nav-list-item">
                        <a href="/"> TOP</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/about"> About</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/list"> Movie</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/favoritetest"> My Movie</a>
                    </li>  
                </ul>
            </nav>
            
            
        <% else %>
            <nav>
                <ul class="nav-list bg-dark">
                    <li class="nav-list-item">
                        <a href="/"><i class="fa-solid fa-house faa-pulse animated-hover" style="color: #ffffff;"></i> TOP</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/about"><i class="fa-solid fa-book faa-pulse animated-hover" style="color: #ffffff;"></i> About</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/list"><i class="fa-solid fa-film faa-pulse animated-hover" style="color: #ffffff;"></i> Movie</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/favoritetest"><i class="fa-solid fa-heart faa-pulse animated-hover" style="color: #ffffff;"></i> My Movie</a>
                    </li>  
                </ul>
            </nav>
        <% end %>
        </div>
          <div data-aos="fade-right"> <!--ふわっとアニメのAOS.js用-->
          <div class="main">
            
          <div class="content">
           
            <%= yield %>
          </div>
          </div>
          </div>
          <!--トップに戻るボタン用-->
            <script src="application.js"></script>
            <!--ふわっとアニメのAOS.js用-->
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>AOS.init()</script>
        </body>
    </html>
